.backdrop {
	background-image: url('../img/Ekko_reveal_BG.jpg');
	height:7571px;
}

#breadcrumbs {
	opacity:0;
}

.section-wrapper .section-wrapper-top {
	background-image:none;
}

.section-wrapper .section-wrapper-top:before {
	background:none;
}

.section-wrapper .section-wrapper-content {
	background-image:none;
}

.pane-node-field-riot-comments {
	width: 1010px;
	margin: 0 -35px;
	background: url('http://cdn.leagueoflegends.com/lolkit/1.1.5/resources/images/frame-center.png') 50% 0;
	background-size: 1038px 1px;
}

.pane-content {
	width:940px;
	margin:auto;
}

.section-wrapper-primary {
	top:-221px;
	left:0px;
}

.comments-bottom {
	background: transparent url("http://cdn.leagueoflegends.com/lolkit/1.1.5/resources/images/frame-sprite.png") no-repeat -5px 35px;
 	width: 1143px;
 	height: 140px;
 	position: absolute;
 	margin-top: -70px;
 	margin-left: -44px;
}

.ekko-splash {
	background: url('../img/john_pham_suit_smiling.png') top center no-repeat;
	width:973px;
	height:570px;
	margin-left:-160px;
	margin-top:216px;
	margin-bottom:140px;
}

.ekko-wallpaper {
	width: 972px;
	height: 570px;
	clear:right;
	position:absolute;
}

.ekko-maincontent {
	width:650px;
	margin:0 auto 0 auto;
}

.ekko-maincontent p {
	font-family:"Spiegel";
	font-weight: 400;
	font-style: normal;
	color:#bac2ab;
	margin-top:15px;
}

.ekko-maincontent h2 {
	font-family:"Beaufort for LOL";
	font-weight: 400;
	font-style: normal;
	font-size:26px;
	color:#eaf9dc;
}

.ekko-titlebox {
	position:absolute;
	width:600px;
	height:130px;
	top:240px;
	left:178px;
}

.ekko-titlebox h1 {
	color:#87edd5;
	font-size:78px;
	font-family:"Beaufort for LOL";
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
}

.ekko-titlebox h4 {
	color:#0cb3b9;
	font-size:27px;
	font-family:"Beaufort for LOL";
	font-weight: 500;
	font-style: normal;
	text-transform:uppercase;
	margin-top:-6px;
	margin-left:5px;
	width:290px;
	line-height:26px;
}

.ekko-videosection {
	height:895px;
}

.ekko-ablheader {
	margin-top:60px !important;
	margin-bottom:50px;
}

.cycle-pager>div {
	display: inline-block;
	position: relative;
}

#no-template-pager {
	position:absolute;
	margin-top:350px;
	margin-left:112px;
	z-index:101;
}

.thumb {
	background: transparent url('../img/ability_frame.png') 0px 10px no-repeat;
	height:85px;
	width:65px;
	padding-top:12px;
	padding-bottom:12px;
	padding-right:2px;
	padding-left:2px;
	margin: 0px 5px;
	cursor:pointer;
}

.cycle-pager-active .thumb {
	background: transparent url('../img/ability_selected.png') top center no-repeat;
}

.slide .gs-container {
	height:890px;
}

.ekko-abilities {
	top:100px;
}

.ekko-videoborder {
	background: black url('../img/Promo_Reveal_Frame_Video_Gold.png') top center no-repeat;
	width:634px;
	height:354px;
	position:absolute;
	top:18px;
	left:18px;
}

.ekko-abilities h2 {
	margin-bottom:-15px;
	margin-top:20px;
}

.ekko-abilities h2:first-child {
	text-align:center;
	margin-bottom:36px;
}

#ekko-laning {
	margin-top:170px;
}

.ekko-margin {
	margin-top:40px;
}

.ekko-teamfights {
	position:absolute;
	top:3480px;
	height:580px;
}

.ekko-synergy h2 {
	margin-bottom:15px;
}

.ekko-synergy .content-border {
	background-color: rgb(218, 217, 215);
}

.ekko-synergy p {
	color:#333132;;
}

.syncaption {
	font-size:17px;
	font-style:italic;
	color:#777;
}

.white-stone.padded div {
	margin: 20px 0px;
	margin-bottom: 20px;
}

.white-stone.padded div:first-child {
	margin-top: 0px;
}

.white-stone.padded div:last-child {
	margin-bottom: 0px;
}

.ekko-img-container img {
	height: 72px;
}

.ekko-img-container {
	display: block;
	position: absolute;
}

.white-stone.padded h3, .white-stone.padded p {
	margin-left: 90px;
	margin-top:5px;
}

.ekko-footer {
	margin-top:220px;
	margin-bottom:100px;
}

.ekko-chalk1 {
	background: transparent url('../img/Ekko_Chalk_01.png') top center no-repeat;
	width:172px;
	height:154px;
	position:absolute;
	margin-left:-240px;
	margin-top:-50px;
}

.ekko-chalk2 {
	background: transparent url('../img/Ekko_Chalk_02.png') top center no-repeat;
	width:963px;
	height:352px;
	position:absolute;
	margin-left:-140px;
	margin-top:100px;
}

.ekko-chalk3 {
	background: transparent url('../img/Ekko_Chalk_03.png') top center no-repeat;
	width:363px;
	height:150px;
	position:absolute;
	margin-left:660px;
	margin-top:210px;
}

.ekko-chalk4 {
	background: transparent url('../img/Ekko_Chalk_04.png') top center no-repeat;
	width:178px;
	height:385px;
	position:absolute;
	margin-left:810px;
	margin-top:340px;
}

.ekko-chalk5 {
	background: transparent url('../img/Ekko_Chalk_05.png') top center no-repeat;
	width:382px;
	height:530px;
	position:absolute;
	margin-top:190px;
	margin-left:650px;
}

.ekko-chalk6 {
	background: transparent url('../img/Ekko_Chalk_06.png') top center no-repeat;
	width:340px;
	height:344px;
	position:absolute;
	margin-left:660px;
	margin-top:750px;
}

.ekko-chalk7 {
	background: transparent url('../img/Ekko_Chalk_07.png') top center no-repeat;
	width:190px;
	height:249px;
	position:absolute;
	margin-left:-220px;
	margin-top:-20px;
}

.ekko-chalk8 {
	background: transparent url('../img/Ekko_Chalk_08.png') top center no-repeat;
	width:383px;
	height:356px;
	position:absolute;
	margin-left:-330px;
	margin-top:-760px;
}

.ekko-chalk9 {
	background: transparent url('../img/Ekko_Chalk_09.png') top center no-repeat;
	width:221px;
	height:220px;
	position:absolute;
	margin-left:700px;
	margin-top:-400px;
}

.ekko-chalk10 {
	background: transparent url('../img/Ekko_Chalk_10.png') top center no-repeat;
	width:1117px;
	height:218px;
	margin-left:-300px;
	margin-top:30px;
}

.ekko-chalk11 {
	background: transparent url('../img/Ekko_Chalk_11.png') top center no-repeat;
	width:314px;
	height:467px;
	position:absolute;
	margin-left:-320px;
	margin-top:-20px;
}

.ekko-chalk12 {
	background: transparent url('../img/Ekko_Chalk_12.png') top center no-repeat;
	width:109px;
	height:114px;
	position:absolute;
	margin-left:-230px;
	margin-top:-10px;
}
