body {
	margin: 0;
}

img {
	width: 100%;
	position: absolute
	left:	0;
	top: 0;
	z-index: -1;
}

div {
	height: 11057px;
	width: 1366px;
}

#g1 {
	left: 465px;
	top: 1482px;
	width: 69px;
	height: 68px;
	z-index: 1;
	position: absolute;
}

#v1 {
	left: 476.3px;
	top: 1597.25px;
	width: 415.5px;
	height: 224.881px;
	position: absolute;
}

#v2 {
	left: 476.3px;
	top: 2539.79px;
	width: 415.5px;
	height: 224.881px;
	position: absolute;
}

#v3 {
	left: 476.3px;
	top: 4093.55px;
	width: 415.5px;
	height: 224.881px;
	position: absolute;
}
